.container {
  margin: 0 auto;
  margin-top: 25px;
  max-width: 800px;
  padding: 20px 20px;
  background-color: #25283d;
  border-radius: 30px;
}
.weather {
  border: 1px solid;
  padding: 30px 50px;
  margin: 0px auto;
  border-radius: 20px;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-2381.jpg?w=826&t=st=1692085901~exp=1692086501~hmac=98f46c5c413e39c44f465ec25462053c72a03d2d6146ed9836b35e99bb085bd1);
}
h1,
h2,
h3 {
  color: #25283d;
}
#h1 {
  font-size: 70px;
  margin-top: 20px;
}
#humiditywindspeed {
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 20px;
}
ul {
  list-style: none;
}

h2 {
  margin-top: 20px;
  font-size: 40px;
}
h3 {
  font-size: 15px;
  margin-bottom: 10px;
}
small {
  font-size: 18px;
  position: relative;
  top: -32px;
  left: -15px;
}
footer {
  font-size: 14px;
}
.first-icon {
  height: 64px;
  width: 64px;
}
.row.hours {
  text-align: center;
  align-items: center;
  overflow: hidden;
}
.p-2.border.bg-light {
  border-radius: 15px;
}

.btn-primary {
  background-color: #dcd6f7;
  border: none;
}

.btn-primary:hover {
  background-color: #d3caf8;
}
.active {
  font-weight: 900;
  cursor: default;
}
#fahrenheitSymbol {
  text-decoration: none;
  color: #25283d;
}
#celsiusSymbol {
  text-decoration: none;
  color: #25283d;
}
#description {
  text-transform: capitalize;
}
